<header class="page-header">
    <h1>About Us</h1>
</header>

<div class="order-summary jumbotron">
<h3>Our Story</h3>
<p>We are like amazon and walmart but less evil and more commited to actually making the world a better place, instead of just seeing how much wealth we can amass for our shareholders</p>
</div>